.title {
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 20px;
  color: #333;
}

.userForm {
  padding: 20px 40px;
}

.text_field {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px;
  flex-wrap: wrap;
}

.personal_details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.user_details {
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.user_details2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.govtID_field {
  width: 60%;
}

.govtID_field div {
  display: flex;
  width: 100%;
}
.phn_field {
  width: 30%;
}

.govt_id_box {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

/* Contact  */

.contact {
  margin-top: 20px;
}

.contact_details {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.guardian_box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.guardian_field {
  display: flex;
  gap: 10px;
}

/* Address  */

.address_details {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* other details  */

.others_details {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

/* buttons */

.buttons {
  display: flex;
  align-items: center;
  justify-content:space-between;
  gap: 20px;
}

.submit_btns{
  display: flex;
  align-items: center;
  gap: 20px;
}